[Desktop Entry]
Name=Chromium runner
Comment=Launch Chromium bookmarks and keywords
Type=Service
Icon=chromium-browser.png
ServiceTypes=Plasma/Runner
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Jayme
X-KDE-PluginInfo-Email=tunxnet@gmail.com
X-KDE-PluginInfo-Author=Alexander Lehmann
X-KDE-PluginInfo-Email=afwlehmann@googlemail.com
X-KDE-PluginInfo-Name=chromium-runner
X-KDE-PluginInfo-Version=0.9.1
X-KDE-PluginInfo-Website=https://github.com/afwlehmann/plasma-runner-chromium
X-KDE-PluginInfo-License=LGPLv3
X-KDE-PluginInfo-EnabledByDefault=true
